* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.princ {
  margin-right: 15%;
  margin-left: 15%;
  background-color: rgb(57, 62, 70);
  padding-bottom: 80%;
  border-radius: 39px;
}

body {
  background-color: rgb(34, 40, 49);
}

#haut-de-page {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
background-color: rgb(50, 130, 184);
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

#haut-de-page:hover {
  scale: 1.01;
}

.logo {
  width: 60px; 
  border-radius: 15px;
  margin: 10px 20px 10px 10px;
}

.logo:hover {
  opacity: 0.90;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}