* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculatrice  {
  background-color: #22252d;
  border-radius: 28px;
  min-height: 90vh;
  max-height: 90vh;
}

#calculatrice #ecran {
  padding: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
}

#calculatrice #touche {
  display: grid;
  justify-content: right;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #272b33;
  padding: 15px;
  gap: 10px;
  border-radius: 28px;
}

#calculatrice #touche #bouton {
  cursor: pointer;
}

#calculatrice #touche #bouton:hover {
  background-color: #1f2228;
}


#calculatrice #touche .egal {
  grid-column: 3 / span 2;
  font-size: 25px;
}

.blue {
  color: blue;
}







































